<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:if condition="{newsItem.txKmnewsextensionFooter}">
    <div class="news-footer">
        <f:format.html>{newsItem.txKmnewsextensionFooter}</f:format.html>
    </div>
</f:if>
                            
<f:if condition="{newsItem.txKmnewsextensionContacts}">
    <div class="news-contacts">
        <h4><f:translate key="contacts" /></h4>
        <f:for each="{newsItem.txKmnewsextensionContacts}" as="contact">
            <f:comment>tt_address partial</f:comment>
            <f:render partial="Full" arguments="{address: contact}"/>
        </f:for>
    </div>
</f:if>

</html>
